<div class="text-center">
<p>componente usuario!</p>



<input type="button" class="btn btn-success btn-lg m-5" [class.disabled]="isHabilitado" [style.background-color]="getColor()" [value]="textoBotao" >

<input type="button" class="btn btn-primary btn-lg m-5" (click)='ligadesliga()'>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Primeiro Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Apelido</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of usuarios">
            <th scope="row">{{ u.id }}</th>
            <td> {{ u.primeiro_nome }}</td>
            <td> {{ u.sobrenome }}</td>
            <td> {{ u.apelido }}</td>

        </tr>
    </tbody>
</table>


<app-usuario-detalhe *ngIf="pokemonSelecionado != null"[pokemonDetalhe]="pokemonSelecionado"></app-usuario-detalhe>


<!-- pokemons -->
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of pokemons.results">
            <td> {{ u.name }}</td>
            <td> {{ u.url }}</td>
            <td><a href="#detalhe" (click)="selecionarPokemon(u.url)">ver mais detalhes</a></td>
        </tr>
    </tbody>
</table>
<input type="button" class="btn-primary mb-2" (click)="proximaPagina()" value="proxima pagina">

<select class="form-control" #limit (change)="trocarLimit(limit.value)"> 
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
  </select>


<!-- pokemons -->
<table class="table table-dark m-2">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Salario</th>
            <th scope="col">Idade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of empregados.data">
            <td> {{ u.id }}</td>
            <td> {{ u.employee_name }}</td>
            <td> {{ u.employee_salary }}</td>
            <td>{{ u.employee_age }}</td>
            <!-- <td><a [href]="u.url" target="blank">ver mais detalhes</a></td> -->
        </tr>
    </tbody>
</table>
<input type="button" class="btn-primary btn-lg m-4" (click)="proximaPagina()" value="proxima pagina">


</div>