<p>usuario-detalhe works!</p>
<div id="detalhe"class="row d-flex justify-content-center">
    <div class="card " style="width: auto;">
        <div class="card-body">
            <h5 class="card-title">Pokemon</h5>
            <p class="card-text">{{ pokemonDetalhe.name}} </p>
            <table class="table">
                <thead>
                    <tr>
                        <th grifarParagrafo scope="col-6" class="m-5">Name</th>
                        <th scope="col-6" class="m-5">Imagem</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ pokemonDetalhe.name }}</td>
                        <td><img [src]="pokemonDetalhe.sprites?.front_default" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- {{ pokemonDetalhe|json }} -->